<div class="container">
  <h3>{{site.sec4}}</h3>
  <p>{{site.sec5}}</p>
  <div class="features">
    <article>
      <a href="#" class="image"><img src="/assets/images/team.jpg" alt="" /></a>
      <div class="inner">
        <h4>Андрей Арзамасков</h4>
        <p>
          <b>Юрист</b><br>
          Академия гражданской защиты МЧС России, инженер<br>
          Ульяновский государственный университет, бакалавриат, закончил с отличием<br>
          Ульяновский государственный университет, магистратура<br>
          Профессиональный стаж — 7 лет. Работал в консалтинговой юрфирме, а также юристом в производственных компаниях. С 2016 года — частная практика. Сосредоточен на сопровождении сделок с недвижимостью, договорной работе, судах. Ведет дела компаний выставочной индустрии, строительного, ресторанного бизнеса и других.
        </p>
        <p><a href="tel:{{site.iconl7}}" class="btn">Связаться</a></p>
      </div>
    </article>
    <article>
      <a href="#" class="image"><img src="/assets/images/team.jpg" alt="" /></a>
      <div class="inner">
        <h4>Сергей Тутучкин</h4>
        <p>
          <b>Юрист</b><br>
          Ульяновский государственный университет, бакалавриат<br>
          Ульяновский государственный университет, магистратура<br>
          Стаж в профессии — 15 лет. Работал юрисконсультом в торгово-производственных компаниях и в редакциях федеральных юридических СМИ. Специализируется на договорной работе, авторском праве и издательской деятельности.
        </p>
        <p><a href="tel:{{site.iconl8}}" class="btn">Связаться</a></p>
      </div>

    </article>
  </div>
</div>
