<div class="container">
  <h3>{{site.sec14}}</h3>
  <p>{{site.sec15}}</p>
  <div itemscope itemtype="http://schema.org/LocalBusiness">
    <span itemprop="name" class="visually-hidden">Юридическая компания Ампаре</span>
    <ul class="contact-icons">
      <li class="{{site.icon7}}">
        <a class="phone" href="tel:+79603660010" title="Позвонить по номеру +7 960 366-00-10">
          <span class="visually-hidden">Телефон:</span>
          <span itemprop="telephone">+7 960 366-00-10</span>
        </a>
      </li>
      <li class="{{site.icon8}}">
        <a class="phone" href="tel:+79297982179" title="Позвонить по номеру +7 929 798-21-79">
          <span class="visually-hidden">Телефон:</span>
          <span itemprop="telephone">+7 929 798-21-79</span>
        </a>
      </li>
      <li class="{{site.icon9}}">
        <a class="link-left" href="mailto:ask@ampare.ru" title="Написать письмо">
          <span class="visually-hidden">Электронная почта: </span>
          <span itemprop="email">ask@ampare.ru</span>
        </a>
      </li>
      <li class="{{site.icon10}}" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Западный бульвар, дом&nbsp;27, офис&nbsp;206,</span>
        <span itemprop="postalCode">432008</span>,
        <span itemprop="addressLocality">Ульяновск</span>
      </li>
      <li class="{{site.icon11}}">
        <data itemprop="openingHours" value="Mo-Fr 09:00−18:00">Понедельник&nbsp;&mdash; пятница<br>с&nbsp;9.00 до&nbsp;18.00</data>
        <p>
          <data itemprop="openingHours" value="Sa 09:00−13:00">Суббота&nbsp;&mdash; по договоренности</data>
        </p>
      </li>
    </ul>
  </div>
</div>

