<div class="container">
  <header class="major">
    <h2>{{site.sec1}}</h2>
    <p>{{site.sec2}}</p>
  </header>
  <p>{{site.sec3}}</p>
  <ul class="feature-icons">
    <li>
      <h4>{{site.icont1}}</h4>
      - возврат некачественного товара<br>
      - расторжение навязанных договоров
    </li>
    <li>
      <h4>{{site.icont2}}</h4>
      - обжалование штрафов ГИБДД<br>
      - споры со страховыми компаниями
    </li>
    <li>
      <h4>{{site.icont3}}</h4>
      - представление интересов в арбитражном суде
    </li>
    <li>
      <h4>{{site.icont5}}</h4>
      - восстановление на работе<br>
      - взыскание задолженности по зарплате
    </li>
    <li>
      <h4>{{site.icont6}}</h4>
      - подготовка проектов договоров
    </li>
    <li>
      <h4>{{site.icont4}}</h4>
      - подготовка к проверкам<br>
      - оспаривание предписаний надзорных органов<br>
      - обжалование административных протоколов
    </li>
  </ul>
</div>
