<div class="container">
  <h3>{{site.sec6}}</h3>
  <p>{{site.sec7}}</p>
  <table>
    <tr>
      <td>Устная консультация</td>
      <td>500 рублей</td>
    </tr>
    <tr>
      <td>Письменная консультация</td>
      <td>1000 рублей</td>
    </tr>
    <tr>
      <td>Cоставление претензии</td>
      <td>1000 рублей</td>
    </tr>
    <tr>
      <td>Подготовка искового заявления, жалобы</td>
      <td>2500 рублей</td>
    </tr>
    <tr>
      <td>Участие в судебном заседании</td>
      <td>5000 рублей за 1 день</td>
    </tr>
    <tr>
      <td>Обжалование административного штрафа</td>
      <td>3000 рублей</td>
    </tr>
  </table>
</div>
