<div class="container">
  <h3>{{site.sec6}}</h3>
  <p>{{site.sec7}}</p>
  <table>
    <tr>
      <td>Устная консультация</td>
      <td>бесплатно</td>
    </tr>
    <tr>
      <td>Письменная консультация</td>
      <td>1&nbsp;000 рублей</td>
    </tr>
    <tr>
      <td>Cоставление претензии</td>
      <td>1&nbsp;000 рублей</td>
    </tr>
    <tr>
      <td>Подготовка искового заявления, жалобы</td>
      <td>2&nbsp;500 рублей</td>
    </tr>
    <tr>
      <td>Участие в&nbsp;судебном заседании</td>
      <td>5&nbsp;000 рублей за&nbsp;1&nbsp;день</td>
    </tr>
    <tr>
      <td>Обжалование административного штрафа</td>
      <td>3&nbsp;000 рублей</td>
    </tr>
  </table>
</div>
