<div class="container">
  <header class="major">
    <h2>{{site.sec1}}</h2>
    <p>{{site.sec2}}</p>
  </header>
  <p>{{site.sec3}}</p>
  <ul class="feature-icons">
    <li>
      <h4>{{site.icont1}}</h4>
      &mdash;&nbsp;возврат некачественного товара<br>
      &mdash;&nbsp;расторжение навязанных договоров<br>
      &mdash;&nbsp;взыскание материального ущерба
    </li>
    <li>
      <h4>{{site.icont2}}</h4>
      &mdash;&nbsp;обжалование штрафов ГИБДД<br>
      &mdash;&nbsp;споры со&nbsp;страховыми компаниями<br>
      &mdash;&nbsp;независимая экспертиза при ДТП
    </li>
    <li>
      <h4>{{site.icont3}}</h4>
      &mdash;&nbsp;представление интересов в&nbsp;суде<br>
      &mdash;&nbsp;взыскание дебиторской задолженности<br>
      &mdash;&nbsp;споры по&nbsp;договорам
    </li>
    <li>
      <h4>{{site.icont5}}</h4>
      &mdash;&nbsp;обжалование решений ПФР<br>
      &mdash;&nbsp;дела о&nbsp;назначении досрочных пенсий
    </li>
    <li>
      <h4>{{site.icont6}}</h4>
      &mdash;&nbsp;подготовка проектов договоров<br>
      &mdash;&nbsp;правовая экспертиза договоров<br>
      &mdash;&nbsp;переработка договоров
    </li>
    <li>
      <h4>{{site.icont4}}</h4>
      &mdash;&nbsp;подготовка к&nbsp;проверкам<br>
      &mdash;&nbsp;оспаривание предписаний и&nbsp;протоколов<br>
      &mdash;&nbsp;экспертиза проектной документации
    </li>
  </ul>
</div>
