<div class="container">
  <h3>{{site.sec4}}</h3>
  <p>{{site.sec5}}</p>
  <div class="features">
    <article>
      <a href="#" class="image"><img src="/assets/images/pic-1.jpg" alt="" /></a>
      <div class="inner">
        <h4>Андрей Арзамасков</h4>
        <p>
          <b>Юрист</b> <br>
          <i>Образование: </i>высшее юридическое, Ульяновский государственный университет, окончил с&nbsp;отличием,<br>
          высшее техническое, АГЗ МЧС России.<br>
          <i>Профессиональный стаж </i>более 20&nbsp;лет, в&nbsp;сфере юриспруденции с&nbsp;2009&nbsp;года. Работал на&nbsp;руководящих должностях в&nbsp;МЧС России. С&nbsp;2016 года&nbsp;&mdash; частная практика.<br>
          <i>Специализация: </i>защита прав потребителей, административное право, договорная работа, взыскание дебиторской задолженности.
        </p>
        <p><a href="tel:{{site.iconl7}}" class="btn">Связаться</a></p>
      </div>
    </article>
    <article>
      <a href="#" class="image"><img src="/assets/images/pic-2.jpg" alt="" /></a>
      <div class="inner">
        <h4>Сергей Тутучкин</h4>
        <p>
          <b>Юрист</b> <br>
          <i>Образование: </i>высшее юридическое, Ульяновский государственный университет.<br>
          <i>Профессиональный стаж </i>в&nbsp;сфере юриспруденции с&nbsp;2013&nbsp;года. Имеет большой опыт работы в&nbsp;области военного права. С&nbsp;2016 года&nbsp;&mdash; частная практика.<br>
          <i>Специализация: </i>военное право, пенсионное законодательство, страховые споры.
        </p>
        <p><a href="tel:{{site.iconl8}}" class="btn">Связаться</a></p>
      </div>

    </article>
  </div>
</div>
